<!DOCTYPE HTML>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <title>@ViewData["Title"] - Marktplaats</title>
        <style type="text/css">
            body {
                background-color: #e5e5e5;
                font-family: "Comic Sans MS", cursive, sans-serif; 
            }
        </style>
    </head>

    <body>
        <center>
            <h1>Marktplaatswebsite - beter dan marktplaats.nl</h1>
            <p>Soort marktplaats.nl maar dan met een '99-vibe.</p>
            <img src="https://www.w3.org/Icons/valid-xhtml10.png" alt="scam">
        </center>
           
           
        @RenderBody()
    </body>
</html>